@{
    ViewData["Title"] = "Admin - Product Management";
}
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="d-flex justify-content-center align-items-center vh-100">
    <form asp-action="AddPCategory" method="post" asp-area="Admin" class="col-xl-6 col-lg-6 col-md-12">

        <div asp-validation-summary="All" class="text-danger"></div>


        

        <div class="form-group mb-3">
            <label for="category">Category</label>
            <select id="category" name="CategoryID" class="custom-select tm-select-accounts" required>
                <option value="">Select category</option>
                @foreach (var category in ViewBag.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        
    </form>
</div>

